<div id="wrap">
  <!-- 定位图 -->
  <div id="fix-c">
      <a href="javacsript:;" class="c_a1"></a>
      <a href="javacsript:;" class="c_a2"></a>
      <a href="#" class="c_a3"></a>
  </div>
  <div id="topNav">
    <p class="left"><span class="topNav_sp1"><em></em>上海<i></i></span>满百包邮(环郊内)<a href="javascript:;">星夜达</a></p>
    <ul class="topNav_ul1 right">
    <li><a href="javascript:;" class="border_a">[登录]</a>,<a href="regist.html">[注册有惊喜]</a></li>
    <li  class="hide_li"><a href="javascript:;">果园公告</a></li>
    <li><a href="javascript:;">券卡兑换</a></li>
    <li class="hide2_li"><a href="javascript:;"><img src="img/1.jpg" alt="">手机果园</a></li>
    <li class="topNav_li"><a href="javascript:;"><img src="img/2.jpg" alt="">400-720-0770</a></li>
    </ul>
    <div class="hide">
      <ul>
        <li class="hide_li1"><a href="javascript:;">全仓充值活动调整公告</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级恢复公告..</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级公告</a></li>
        <li class="hide_li4"><a href="javascript:;">查看更多&gt;</a></li>
      </ul>
    </div>
    <div class="hide2">
      <div class="h2_box1">
        <p class="h2_p1"><a href="javascript:;"><span>下载果园app</span><span>即享果园特价商品</span></a></p>
        <p class="h2_p2"><a href="javascript:;"><img src="img/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p3 left"><a href="javascript:;"><img src="img/f.jpg" alt=""></a></p>
        <p class="h2_p4 left"><a href="javascript:;"><img src="img/d.jpg" alt=""></a></p>
      </div>
      <div class="h2_box2">
        <p class="h2_p5 left"><a href="javascript:;"><img src="img/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p6 left"><a href="javascript:;">关注果园微信</a></p>
        <p class="h2_p7 left"><a href="javascript:;"><span>优惠信息实时掌握</span></a></p>
      </div>
    </div>
    <div class="select">
      <span>热门城市:</span>
      <p>
        <a href="">上海</a>
        <a href="">广东</a>
        <a href="">北京</a>
        <a href="">苏州</a>
        <a href="">南京</a>
        <a href="">深圳</a>
      </p>
      <span>选择城市:</span>
      <div class="select_div"></div>
    </div>
  </div>
  <div id="pic_nav"></div>
  <div id="con_box">
    <p class="con_boxP">会员登录</p>
    <div class="box">
      <div class="pull_left">
        <img src="img/zc.jpg" alt=""/>
        <div class="login"><a href="javascript:;">会员注册&gt;</a></div>
      </div>
      <div class="pull_right">
        <ul>
          <li>
            <span>手机号</span>
            <div>
              <input id="int1" class="int" type="text" value="">
            </div>
          </li>
          <li class="right_li2">
            <span>密码</span>
            <div>
              <input id="int2" class="int" type="text" value="" placeholder="请输入6-20位号码字符">
            </div>
          </li>
          <li>
            <div class="right_div3">
              <input type="checkBox" class="radio" />
              <span class="right_span3">记住密码</span>
              <a href="">忘记密码?</a><a href="javascript:;">快捷登录</a>
            </div>
          </li>
          <li>
            <div class="right_div4">
              <input type="submit" class="sub" value="登录"/>
              <input type="button" class="btn" value="注册会员"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="foot1">
    <ul>
      <li class="foot1_li1">
        <h2>全球源产地直购</h2>
        <span>100%源产地直购保证</span>
      </li>
      <li class="foot1_li2">
        <h2>全球源产地直购</h2>
        <span>100%源产地直购保证</span>
      </li>
      <li class="foot1_li3">
        <h2>全球源产地直购</h2>
        <span>100%源产地直购保证</span>
      </li>
      <li class="foot1_li4">
        <h2>全球源产地直购</h2>
        <span>100%源产地直购保证</span>
      </li>
    </ul>
  </div>
   <div id="foot2">
    <dl class="dl1 left">
      <dt><img src="img/guan_ewcode1.jpg" alt=""></dt>
      <dd>天天果园官方微信</dd>
    </dl>
    <dl class="dl2 left">
      <dt><img src="img/guan_ewcode2.jpg" alt=""></dt>
      <dd>天天APP</dd>
    </dl>
    <dl class="dl3 left">
      <dt><a href=""><strong>购物指南</strong></a></dt>
      <dd><a href="">新用户注册</a></dd>
      <dd><a href="">在线下单</a></dd>
      <dd><a href="">支付方式</a></dd>
    </dl>
      <dl class="dl3 left">
      <dt><a href=""><strong>购物指南</strong></a></dt>
      <dd><a href="">新用户注册</a></dd>
      <dd><a href="">在线下单</a></dd>
      <dd><a href="">支付方式</a></dd>
    </dl>
      <dl class="dl3 left">
      <dt><a href=""><strong>购物指南</strong></a></dt>
      <dd><a href="">新用户注册</a></dd>
      <dd><a href="">在线下单</a></dd>
      <dd><a href="">支付方式</a></dd>
    </dl>
   </div>
   <div id="foot3">
      <p class="foot3_p1">版权所有 © 2015天天果园&nbsp;&nbsp;保留所有权利 | 沪ICP备12042163</p>
      <p class="foot3_p2">天天果园&nbsp;&nbsp;鲜果网购</p>
      <div>
        <a href=""><img src="img/guan_shgs.gif" alt=""></a>
        <a href=""><img src="img/guan_wgdjp.png" alt=""></a>
      </div>
   </div>
</div>
