.tab-content {
  width: 864px;
  margin: 0 auto;
  padding-top: 31px;

  .content {
    background: rgba(251, 252, 252, .8);
    padding: 10px;
    border-radius: 3px;
    min-height: 500px;
  }
}

.ant-card {
  width: 100%;
  opacity: .8;
  margin-bottom: 10px;
}
