.tab-content {
  width: 864px;
  margin: 0 auto;
  padding-top: 31px;

  .content {
    background: rgba(251, 252, 252, .8);
    padding: 10px;
    border-radius: 3px;
    min-height: 500px;
  }
}

.ant-card {
  width: 100%;
  opacity: .8;
  margin-bottom: 10px;
}

.trip {
  display: flex;
  justify-content: space-around;

  img {
    display: block;
  }

 .custom-card {
    padding: 10px 16px;
  }

  .custom-card p {
    color: #999;
  }

  .ant-card-body {
    padding: 0;
  }
}

.more {
  width: 310px;
  margin: 145px auto;

  .ant-popover-wrap > a {
    margin-right: 1em;
  }

  .ant-btn {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
