<div class="more">
<!--   <div class="left">left</div>
  <div class="right">
    <div style="width: 40%;">
      <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>
  </div> -->
  <nz-layout class="ant-layout ant-layout-has-sider">
    <nz-sider style="flex: 0 0 200px; width: 200px;">
      <nz-anchor>
        <nz-link nzHref="#title" nzTitle="谁的青春不迷茫"></nz-link>
        <nz-link nzHref="#ability" nzTitle="ta的超能力"></nz-link>
        <nz-link nzHref="#friends" nzTitle="ta的圈子@"></nz-link>
        <nz-link nzHref="#skill" nzTitle="ta喜欢的技术"></nz-link>
        <nz-link nzHref="#skill" nzTitle="ta的博客"></nz-link>

        <nz-link nzHref="#games" nzTitle="ta爱玩的游戏">
          <nz-link nzHref="#lol" nzTitle="lol"></nz-link>
          <nz-link nzHref="#dn" nzTitle="dn"></nz-link>
        </nz-link>
      </nz-anchor>
    </nz-sider>
    <nz-content class="ant-layout-content">
      <div id="title">
        奔跑吧, 疯子!
      </div>

      <div id="ability">

      </div>
    </nz-content>
  </nz-layout>
</div>
