<div class="my-state">
<!--   <nz-card>
    <ng-template #title>
      工作状态
    </ng-template>
    <ng-template #body>
      <div class="fadeInRight">
        目前在职
      </div>
    </ng-template>
  </nz-card> -->

  <nz-card>
    <ng-template #title>
      婚姻状态
    </ng-template>
    <ng-template #body>
      <div class="fadeInRight">
        未婚
      </div>
    </ng-template>
  </nz-card>

  <nz-card>
    <ng-template #title>
      恋爱状态
    </ng-template>
    <ng-template #body>
      <div class="fadeInRight">
        单身
      </div>
    </ng-template>
  </nz-card>

  <nz-card>
    <ng-template #title>
      星座
    </ng-template>
    <ng-template #body>
      <div class="fadeInRight">
        金牛座
      </div>
    </ng-template>
  </nz-card>

    <nz-card>
    <ng-template #title>
      爱好
    </ng-template>
    <ng-template #body>
      <div class="fadeInRight">
        读书, 写字, 看报纸(eh.. 装的挺像啊嘿~)
      </div>
    </ng-template>
  </nz-card>
</div>

