<div class="experience">
<!--   <div class="left">
    <nz-affix>
      <nz-anchor>
        <nz-link nzHref="#deta" nzTitle="帅在德塔"></nz-link>
        <nz-link nzHref="#shunshun" nzTitle="帅在顺顺"></nz-link>
        <nz-link nzHref="#API" nzTitle="API">
          <nz-link nzHref="#API-Anchor" nzTitle="nz-anchor"></nz-link>
          <nz-link nzHref="#API-AnchorLink" nzTitle="nz-link"></nz-link>
        </nz-link>
      </nz-anchor>
    </nz-affix>
  </div> -->

  <div class="right">
    <nz-card nzLoading="{{ isLoading}}">
      <ng-template #title>
        wow
      </ng-template>
      <ng-template #body>
        <div class="fadeInRight">
          必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。
        </div>
      </ng-template>
    </nz-card>

    <nz-card nzLoading="{{ isLoading}}">
      <ng-template #title>
        wow
      </ng-template>
      <ng-template #body>
        <div class="fadeInRight2">
          必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。必须全面准确地把握科学发展观的深刻内涵和基本要求。坚持以人为本，就是要以实现人的全面发展为目标，从人民群众的根本利益出发谋发展、促发展，不断满足人民群众日益增长的物质文化需要，切实保障人民群众的经济、政治和文化权益，让发展的成果惠及全体人民。
        </div>
      </ng-template>
    </nz-card>
  </div>
</div>
