.experience {
  position: relative;

  .ant-card {
    margin-bottom: 10px;
  }

  // .left {
  //   position: absolute;
  //   left: -114px;
  //   top: -10px;
  //   border: 1px solid #fff;
  //   border-radius: 3px;
  // }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.fadeInRight {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  animation-duration: 1s;
}

.fadeInRight2 {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  animation-duration: 2s;
}
