<div id="wrap">
  <div id="fix-c">
      <a href="javacsript:;" class="c_a1"></a>
      <a href="javacsript:;" class="c_a2"></a>
      <a href="#" class="c_a3"></a>
  </div>
  <div id="topNav">
    <p class="left"><span class="topNav_sp1"><em></em>上海<i></i></span>满百包邮(环郊内)<a href="javascript:;">星夜达</a></p>
    <ul class="topNav_ul1 right">
    <li><a href="javascript:;" class="border_a">[登录]</a>,<a href="regist.html">[注册有惊喜]</a></li>
    <li  class="hide_li"><a href="javascript:;">果园公告</a></li>
    <li><a href="javascript:;">券卡兑换</a></li>
    <li class="hide2_li"><a href="javascript:;"><img src="img/1.jpg" alt="">手机果园</a></li>
    </ul>
    <div class="hide">
      <ul>
        <li class="hide_li1"><a href="javascript:;">全仓充值活动调整公告</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级恢复公告..</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级公告</a></li>
        <li class="hide_li4"><a href="javascript:;">查看更多&gt;</a></li>
      </ul>
    </div>
    <div class="hide2">
      <div class="h2_box1">
        <p class="h2_p1"><a href="javascript:;"><span>下载果园app</span><span>即享果园特价商品</span></a></p>
        <p class="h2_p2"><a href="javascript:;"><img src="img/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p3 left"><a href="javascript:;"><img src="img/f.jpg" alt=""></a></p>
        <p class="h2_p4 left"><a href="javascript:;"><img src="img/d.jpg" alt=""></a></p>
      </div>
      <div class="h2_box2">
        <p class="h2_p5 left"><a href="javascript:;"><img src="img/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p6 left"><a href="javascript:;">关注果园微信</a></p>
        <p class="h2_p7 left"><a href="javascript:;"><span>优惠信息实时掌握</span></a></p>
      </div>
    </div>
    <div class="select">
      <span>热门城市:</span>
      <p>
        <a href="">上海</a>
        <a href="">广东</a>
        <a href="">北京</a>
        <a href="">苏州</a>
        <a href="">南京</a>
        <a href="">深圳</a>
      </p>
      <span>选择城市:</span>
      <div class="select_div"></div>
    </div>
  </div>
</div>
