<div id="wrap">
  <div id="fix-c">
      <a href="javacsript:;" class="c_a1"></a>
      <a href="javacsript:;" class="c_a2"></a>
      <a href="#" class="c_a3"></a>
  </div>
  <div id="topNav">
    <p class="left"><span class="topNav_sp1"><em></em>上海<i></i></span>满百包邮(环郊内)<a href="javascript:;">星夜达</a></p>
    <ul class="topNav_ul1 right">
    <li *ngIf="!user.uid"><a href="javascript:;" class="border_a">[登录]</a>,<a href="regist.html">[注册有惊喜]</a></li>
    <li *ngIf="user.uid"><a href="javascript:;" class="border_a">欢迎您</a>,<a href="regist.html">{{ user.mobile }}</a></li>
    <li class="hide_li"><a href="javascript:;">果园公告</a></li>
    <li><a href="javascript:;">券卡兑换</a></li>
    <li class="hide2_li"><a href="javascript:;"><img src="https://yangshuaiweb.com:9913/1.jpg" alt="">手机果园</a></li>
    </ul>
    <div class="hide">
      <ul>
        <li class="hide_li1"><a href="javascript:;">全仓充值活动调整公告</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级恢复公告..</a></li>
        <li><a href="javascript:;">天天果园400热线系统升级公告</a></li>
        <li class="hide_li4"><a href="javascript:;">查看更多&gt;</a></li>
      </ul>
    </div>
    <div class="hide2">
      <div class="h2_box1">
        <p class="h2_p1"><a href="javascript:;"><span>下载果园app</span><span>即享果园特价商品</span></a></p>
        <p class="h2_p2"><a href="javascript:;"><img src="https://yangshuaiweb.com:9913/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p3 left"><a href="javascript:;"><img src="https://yangshuaiweb.com:9913/f.jpg" alt=""></a></p>
        <p class="h2_p4 left"><a href="javascript:;"><img src="https://yangshuaiweb.com:9913/d.jpg" alt=""></a></p>
      </div>
      <div class="h2_box2">
        <p class="h2_p5 left"><a href="javascript:;"><img src="https://yangshuaiweb.com:9913/guan_ewcode2.jpg" alt=""></a></p>
        <p class="h2_p6 left"><a href="javascript:;">关注果园微信</a></p>
        <p class="h2_p7 left"><a href="javascript:;"><span>优惠信息实时掌握</span></a></p>
      </div>
    </div>
    <div class="select">
      <span>热门城市:</span>
      <p>
        <a href="">上海</a>
        <a href="">广东</a>
        <a href="">北京</a>
        <a href="">苏州</a>
        <a href="">南京</a>
        <a href="">深圳</a>
      </p>
      <span>选择城市:</span>
      <div class="select_div"></div>
    </div>
  </div>
</div>
<div id="mainNav" *ngIf="showTab">
  <p class="main_p1 left"><img src="https://yangshuaiweb.com:9913/mainNavlogo.png" alt=""></p>
  <div class="mainNav_rightBox pull-right" style="margin-right: 80px; margin-top: 32px;">
    <p class="main_p2">
      <input class="main_int left" type="text" placeholder="樱桃" [(ngModel)]="filterLabel"/>
      <input class="main_btn left" type="button" value="" (click)="filterList(filterLabel)">
    </p>
    <p class="main_p3 left">
      <span>热门 :</span>
      <a href="">蓝莓</a>
      <a href="">樱桃</a>
      <a href="">奇异果</a>
      <a href="">荔枝</a>
    </p>
  </div>
  <p class="main_p4 left"><a href="shopCar.html"><img src="img/t.png" alt=""></a></p>
  <ngb-tabset (tabChange)="beforeChange($event)" #t="ngbTabset">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span>首页</span>
        <span>Home</span>
      </ng-template>
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span>鲜果</span>
        <span>Fruit</span>
      </ng-template>
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span>生鲜</span>
        <span>Fresh</span>
      </ng-template>
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span>礼品</span>
        <span>Gift</span>
      </ng-template>
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span>会员中心</span>
        <span>VIP Club</span>
      </ng-template>
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<router-outlet *ngIf="!showTab"></router-outlet>
<!-- <ngb-tabset>
  <ngb-tab title="Simple">
    <ng-template ngbTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </ngb-tab>
</ngb-tabset> -->
