<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item (click)="selectTab('living')" routerLink="/home/living"><i class="anticon anticon-smile"></i> 生平 </li>
  <li nz-menu-item nzDisabled (click)="selectTab('trip')" routerLink="/home/trip"><i class="anticon anticon-rocket"></i> 旅途 </li>
  <li nz-menu-item nzDisabled (click)="selectTab('experience')" routerLink="/home/experience"><i class="anticon anticon-heart-o"></i> 经历 </li>
  <li nz-menu-item nzDisabled (click)="selectTab('state')" routerLink="/home/state"><i class="anticon anticon-solution"></i> 现状 </li>
  <li nz-menu-item nzDisabled (click)="selectTab('more')" routerLink="/home/more"><i class="anticon anticon-appstore"></i> 更多 </li>
</ul>
