<div class="trip trip-animation">
  <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" src="/assets/imgs/tianjin.png"/>
      </div>
      <div class="custom-card">
        <h3>屏幕没问题</h3>
        <p>是拍的不清晰(定位: 天津)</p>
      </div>
    </ng-template>
  </nz-card>

   <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" src="/assets/imgs/jacksion.png"/>
      </div>
      <div class="custom-card">
        <h3>天才竟然</h3>
        <p>拍到了迈克锅锅(定位: 北京)~</p>
      </div>
    </ng-template>
  </nz-card>

  <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" src="/assets/imgs/mimi.png"/>
      </div>
      <div class="custom-card">
        <h3>天才竟然</h3>
        <p>拍到了蜜蜜女神(定位: 北京)~</p>
      </div>
    </ng-template>
  </nz-card>

   <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" height="129px" src="/assets/imgs/prize.png"/>
        <img alt="example" width="100%" height="129px" src="/assets/imgs/zoo.png"/>
      </div>
      <div class="custom-card">
        <h3>勇夺c位!@~~</h3>
        <p>北京野生动物园两个天才😄(定位: 略)</p>
      </div>
    </ng-template>
  </nz-card>

   <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" src="/assets/imgs/rabbot.png"/>
      </div>
      <div class="custom-card">
        <h3>Monster on the street</h3>
        <p>如何优雅的站在大街上(定位: 河北秦皇岛)</p>
      </div>
    </ng-template>
  </nz-card>

   <nz-card style="width:240px">
    <ng-template #body>
      <div class="custom-image">
        <img alt="example" width="100%" src="/assets/imgs/workspace.png"/>
      </div>
      <div class="custom-card">
        <h3>老板我头上漏水了</h3>
        <p>不会有介绍的一条(定位：北京)</p>
      </div>
    </ng-template>
  </nz-card>
</div>
