<div class="register">
  <div class="register-content col-xs-12">
     <div class="col-xs-8 col-md-offset-2">
        <p class="member">注册会员</p>

        <div class="login-sec clearfix">
          <div class="login-left pull-left">
            <img src="https://yangshuaiweb.com:9913/zc.jpg">
            <div class="login">
              <a href="/login" class="btn btn-primary btn-lg active login-btn" role="button" title="点击此按钮，登录会员账号"> 会员登录&gt;</a>
            </div>
          </div>

          <div class="login-right pull-right">
            <div class="form-content">
              <form #registerForm="ngForm" (ngSubmit)="login(registerForm)" novalidate>
                <div class="form-group col-xs-12">
                  <label class="col-sm-4 col-md-offset-1">
                    手机号码
                  </label>
                  <div class="col-sm-7">
                    <input class="form-control"
                           type="text"
                           name="mobile"
                           placeholder="请输入手机号码"
                           [(ngModel)]="queryParams.mobile"
                           required/>

<!--                     <span class="text-danger"
                          *ngIf="mobile.valid">
                        必填项
                    </span> -->
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <label class="col-sm-4 col-md-offset-1">
                    密码
                  </label>
                  <div class="col-sm-7">
                    <input class="form-control"
                           type="text"
                           name="password"
                           placeholder="请输入手机号码"
                           [(ngModel)]="queryParams.password"
                           required/>

<!--                     <span class="text-danger"
                          *ngIf="mobile.valid">
                        必填项
                    </span> -->
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <label class="col-sm-4 col-md-offset-1">
                  </label>
                  <div class="col-sm-7">
                    <button type="button" class="btn btn-success pull-right" routerLink="/register">注册会员</button>
                    <button type="submit" class="btn btn-success pull-left" [disabled]="!registerForm.form.valid">登录</button>
                  </div>
                </div>
              </form>
          </div>
          </div>
        </div>
     </div>
  </div>
</div>
