<div class="home">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" alt="Random third slide">
    </ng-template>
  </ngb-carousel>
  <div class="home-content">
    <div class="loin-page">
      <p><img src="https://yangshuaiweb.com:9913/io1.png" alt=""></p>
      <p><img src="https://yangshuaiweb.com:9913/io2.png" alt=""></p>
      <p><img src="https://yangshuaiweb.com:9913/io3.png" alt=""></p>
      <p><img src="https://yangshuaiweb.com:9913/io4.png" alt=""></p>
    </div>

    <h4 class="item-header">
      <img src="http://www.fruitday.com/images/index/t4.png" alt="">
      <a href="">
        更多
        <i class="right-arrow"></i>
      </a>
    </h4>
    <div class="gift-content">
      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
    </div>

    <h4 class="item-header">
      <img src="http://www.fruitday.com/images/index/t2.png" alt="">
      <a href="">
        更多
        <i class="right-arrow"></i>
      </a>
    </h4>
    <div class="gift-content">
      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
    </div>

    <h4 class="item-header">
      <img src="http://www.fruitday.com/images/index/t3.png" alt="">
      <a href="">
        更多
        <i class="right-arrow"></i>
      </a>
    </h4>
    <div class="gift-content">
      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item">
        <p><img src="https://yangshuaiweb.com:9913/liulian.png" alt=""></p>
        <div class="item-foot">
          <div class="left">
            <span>欢乐时光水果果篮</span>
            <span class="price">￥188.00/1份</span>
          </div>
          <div class="right">
            <img src="https://yangshuaiweb.com:9913/k.png" alt="">
          </div>
        </div>
      </div>

      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
      <div class="item visibility">
      </div>
    </div>
    <div id="foot1">
      <ul>
        <li class="foot1_li1">
          <h2>全球源产地直购</h2>
          <span>100%源产地直购保证</span>
        </li>
        <li class="foot1_li2">
          <h2>会员权益</h2>
          <span>会员升级 尊享特权</span>
        </li>
        <li class="foot1_li3">
          <h2>自建物流</h2>
          <span>专属物流 全程把控</span>
        </li>
        <li class="foot1_li4">
          <h2>48小时退换货</h2>
          <span>专属服务 为您解答</span>
        </li>
      </ul>
    </div>
    <div id="foot2">
      <dl class="dl1 left">
        <dt><img src="img/guan_ewcode1.jpg" alt=""></dt>
        <dd>天天果园官方微信</dd>
      </dl>
      <dl class="dl2 left">
        <dt><img src="img/guan_ewcode2.jpg" alt=""></dt>
        <dd>天天APP</dd>
      </dl>
      <dl class="dl3 left">
        <dt><a href=""><strong>购物指南</strong></a></dt>
        <dd><a href="">新用户注册</a></dd>
        <dd><a href="">在线下单</a></dd>
        <dd><a href="">支付方式</a></dd>
      </dl>
      <dl class="dl3 left">
        <dt><a href=""><strong>购物指南</strong></a></dt>
        <dd><a href="">新用户注册</a></dd>
        <dd><a href="">在线下单</a></dd>
        <dd><a href="">支付方式</a></dd>
      </dl>
      <dl class="dl3 left">
        <dt><a href=""><strong>购物指南</strong></a></dt>
        <dd><a href="">新用户注册</a></dd>
        <dd><a href="">在线下单</a></dd>
        <dd><a href="">支付方式</a></dd>
      </dl>
    </div>
    <div id="foot3">
        <p class="foot3_p1">版权所有 © 2015天天果园&nbsp;&nbsp;保留所有权利 | 沪ICP备12042163</p>
        <p class="foot3_p2">天天果园&nbsp;&nbsp;鲜果网购</p>
        <div>
          <a href=""><img src="https://yangshuaiweb.com:9913/guan_shgs.gif" alt=""></a>
          <a href=""><img src="https://yangshuaiweb.com:9913/guan_wgdjp.png" alt=""></a>
        </div>
     </div>
  </div>
</div>
